USE [master]
GO
/****** Object:  Database [PRIMJER]    Script Date: 21/02/2023 10:40:25 PM ******/
CREATE DATABASE [PRIMJER]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PRIMJER', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\PRIMJER.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PRIMJER_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\PRIMJER_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PRIMJER].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PRIMJER]
GO
/****** Object:  Table [dbo].[ARTIKAL]    Script Date: 21/02/2023 10:40:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ARTIKAL](
	[ID_Artikal] [int] IDENTITY(1,1) NOT NULL,
	[Naziv_Artikla] [nvarchar](50) NOT NULL,
	[Boja_Artikla] [nvarchar](50) NULL,
	[Informativna_Cijena] [decimal](18, 6) NOT NULL,
 CONSTRAINT [PK_ARTIKAL] PRIMARY KEY CLUSTERED 
(
	[ID_Artikal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KUPAC]    Script Date: 21/02/2023 10:40:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KUPAC](
	[ID_Kupac] [int] IDENTITY(1,1) NOT NULL,
	[Ime_Kupca] [nvarchar](20) NOT NULL,
	[Adresa_Kupca] [nvarchar](50) NULL,
 CONSTRAINT [PK_KUPAC] PRIMARY KEY CLUSTERED 
(
	[ID_Kupac] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RACUN]    Script Date: 21/02/2023 10:40:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RACUN](
	[ID_Racun] [int] IDENTITY(1,1) NOT NULL,
	[Datum_Racuna] [datetime] NOT NULL,
	[Datum_Dospijeca] [datetime] NOT NULL,
	[Napomena] [nvarchar](200) NULL,
	[ID_Kupac] [int] NOT NULL,
	[ID_Skladiste] [int] NOT NULL,
 CONSTRAINT [PK_RACUN] PRIMARY KEY CLUSTERED 
(
	[ID_Racun] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RACUN_ARTIKAL]    Script Date: 21/02/2023 10:40:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RACUN_ARTIKAL](
	[ID_RACUN] [int] NOT NULL,
	[ID_ARTIKAL] [int] NOT NULL,
	[Cijena] [decimal](18, 6) NOT NULL,
	[Kolicina] [int] NOT NULL,
	[Rabat_Postotak] [decimal](18, 6) NOT NULL,
 CONSTRAINT [PK_RACUN_ARTIKAL] PRIMARY KEY CLUSTERED 
(
	[ID_RACUN] ASC,
	[ID_ARTIKAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SKLADISTE]    Script Date: 21/02/2023 10:40:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SKLADISTE](
	[ID_Skladiste] [int] IDENTITY(1,1) NOT NULL,
	[Ime_skladista] [nvarchar](50) NOT NULL,
	[Adresa_skladista] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_SKLADISTE] PRIMARY KEY CLUSTERED 
(
	[ID_Skladiste] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ARTIKAL] ON 

INSERT [dbo].[ARTIKAL] ([ID_Artikal], [Naziv_Artikla], [Boja_Artikla], [Informativna_Cijena]) VALUES (1, N'Artikal1', NULL, CAST(50.800000 AS Decimal(18, 6)))
INSERT [dbo].[ARTIKAL] ([ID_Artikal], [Naziv_Artikla], [Boja_Artikla], [Informativna_Cijena]) VALUES (2, N'Artikal2', NULL, CAST(508.810000 AS Decimal(18, 6)))
INSERT [dbo].[ARTIKAL] ([ID_Artikal], [Naziv_Artikla], [Boja_Artikla], [Informativna_Cijena]) VALUES (3, N'Artikal3', NULL, CAST(30.700000 AS Decimal(18, 6)))
SET IDENTITY_INSERT [dbo].[ARTIKAL] OFF
GO
SET IDENTITY_INSERT [dbo].[KUPAC] ON 

INSERT [dbo].[KUPAC] ([ID_Kupac], [Ime_Kupca], [Adresa_Kupca]) VALUES (1, N'Mate', N'Matic')
INSERT [dbo].[KUPAC] ([ID_Kupac], [Ime_Kupca], [Adresa_Kupca]) VALUES (2, N'Matej', N'Latic')
INSERT [dbo].[KUPAC] ([ID_Kupac], [Ime_Kupca], [Adresa_Kupca]) VALUES (3, N'Igor', N'Igic')
SET IDENTITY_INSERT [dbo].[KUPAC] OFF
GO
SET IDENTITY_INSERT [dbo].[RACUN] ON 

INSERT [dbo].[RACUN] ([ID_Racun], [Datum_Racuna], [Datum_Dospijeca], [Napomena], [ID_Kupac], [ID_Skladiste]) VALUES (1, CAST(N'2023-02-21T22:05:33.463' AS DateTime), CAST(N'2023-03-23T22:05:33.463' AS DateTime), NULL, 1, 1)
INSERT [dbo].[RACUN] ([ID_Racun], [Datum_Racuna], [Datum_Dospijeca], [Napomena], [ID_Kupac], [ID_Skladiste]) VALUES (2, CAST(N'2023-02-21T22:05:33.463' AS DateTime), CAST(N'2023-03-23T22:05:33.463' AS DateTime), NULL, 1, 2)
INSERT [dbo].[RACUN] ([ID_Racun], [Datum_Racuna], [Datum_Dospijeca], [Napomena], [ID_Kupac], [ID_Skladiste]) VALUES (3, CAST(N'2023-02-21T22:05:33.463' AS DateTime), CAST(N'2023-03-23T22:05:33.463' AS DateTime), NULL, 2, 3)
SET IDENTITY_INSERT [dbo].[RACUN] OFF
GO
INSERT [dbo].[RACUN_ARTIKAL] ([ID_RACUN], [ID_ARTIKAL], [Cijena], [Kolicina], [Rabat_Postotak]) VALUES (1, 1, CAST(52.800000 AS Decimal(18, 6)), 33, CAST(2.000000 AS Decimal(18, 6)))
INSERT [dbo].[RACUN_ARTIKAL] ([ID_RACUN], [ID_ARTIKAL], [Cijena], [Kolicina], [Rabat_Postotak]) VALUES (1, 2, CAST(44.800000 AS Decimal(18, 6)), 88, CAST(2.000000 AS Decimal(18, 6)))
INSERT [dbo].[RACUN_ARTIKAL] ([ID_RACUN], [ID_ARTIKAL], [Cijena], [Kolicina], [Rabat_Postotak]) VALUES (1, 3, CAST(33.400000 AS Decimal(18, 6)), 13, CAST(2.000000 AS Decimal(18, 6)))
GO
SET IDENTITY_INSERT [dbo].[SKLADISTE] ON 

INSERT [dbo].[SKLADISTE] ([ID_Skladiste], [Ime_skladista], [Adresa_skladista]) VALUES (1, N'Skladiste1', N'Adresa1')
INSERT [dbo].[SKLADISTE] ([ID_Skladiste], [Ime_skladista], [Adresa_skladista]) VALUES (2, N'Skladiste2', N'Adresa2')
INSERT [dbo].[SKLADISTE] ([ID_Skladiste], [Ime_skladista], [Adresa_skladista]) VALUES (3, N'Skladiste3', N'Adresa3')
SET IDENTITY_INSERT [dbo].[SKLADISTE] OFF
GO
ALTER TABLE [dbo].[RACUN] ADD  CONSTRAINT [DF_RACUN_Datum_Racuna]  DEFAULT (getdate()) FOR [Datum_Racuna]
GO
ALTER TABLE [dbo].[RACUN] ADD  CONSTRAINT [DF_RACUN_Datum_Dospijeca]  DEFAULT (getdate()+(30)) FOR [Datum_Dospijeca]
GO
ALTER TABLE [dbo].[RACUN]  WITH CHECK ADD  CONSTRAINT [FK_IDKUPAC_RACUN_KUPAC] FOREIGN KEY([ID_Kupac])
REFERENCES [dbo].[KUPAC] ([ID_Kupac])
GO
ALTER TABLE [dbo].[RACUN] CHECK CONSTRAINT [FK_IDKUPAC_RACUN_KUPAC]
GO
ALTER TABLE [dbo].[RACUN]  WITH CHECK ADD  CONSTRAINT [FK_IDSKLADISTE_RACUN_SKLADISTE] FOREIGN KEY([ID_Skladiste])
REFERENCES [dbo].[SKLADISTE] ([ID_Skladiste])
GO
ALTER TABLE [dbo].[RACUN] CHECK CONSTRAINT [FK_IDSKLADISTE_RACUN_SKLADISTE]
GO
ALTER TABLE [dbo].[RACUN_ARTIKAL]  WITH CHECK ADD  CONSTRAINT [FK_IDARTIKAL_RACUN_ARTIKAL_ARTIKAL] FOREIGN KEY([ID_ARTIKAL])
REFERENCES [dbo].[ARTIKAL] ([ID_Artikal])
GO
ALTER TABLE [dbo].[RACUN_ARTIKAL] CHECK CONSTRAINT [FK_IDARTIKAL_RACUN_ARTIKAL_ARTIKAL]
GO
ALTER TABLE [dbo].[RACUN_ARTIKAL]  WITH CHECK ADD  CONSTRAINT [FK_IDRACUN_ARTIKAL_RACUN_RACUN] FOREIGN KEY([ID_RACUN])
REFERENCES [dbo].[RACUN] ([ID_Racun])
GO
ALTER TABLE [dbo].[RACUN_ARTIKAL] CHECK CONSTRAINT [FK_IDRACUN_ARTIKAL_RACUN_RACUN]
GO
USE [master]
GO
